* {
	padding:0;
	margin:0;
	box-sizing: border-box;
}

body{
	font-family: Lato serif;
}

.main-image{
	background-image: url(../images/hero.png);
	background-size: cover;
	background-repeat: no-repeat; 
	width: 100%;
	height: auto;
}

.container{
	width: 75%;
	margin: 0 auto;

	display: inherit;
	justify-content: inherit;
	align-items: inherit;
	flex-wrap: inherit;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	height: 100px;

}
.logo{
	background-size: cover;
}

.navigation {
	display: flex;
}

.navigation__list{
	display: flex;
	justify-content: flex-end;
	align-items: center;

	list-style: none;
}

.navigation__list-item{
		margin-right: 50px;
}

.navigation__list-item:last-child{
		margin-right: 85px;
}

.navigation__list-item-link {
	font-size: 14px;
	color: #fffefe;
	text-decoration: none;
}

.main__text{
	height: 800px;
	text-align: center;
}

.main__text-title{
	font-size: 48px;
	color: #ffffff;

	padding-top: 220px;
}

.main__text-description{
	font-size: 22px;
	color: #fffefe;

	padding-top: 45px;
}

.main__text-btn{
	display: inline-block;

	height: 95px; 
	width: 95px;
	border-radius: 50%;
	border: 3px solid #808b90;

	margin-top: 220px;

}

.services{
	height: 740px;
}

.services-title {
	font-size: 35px;
	color: #222222;

	text-align: center;

	padding-top: 120px;
}

.services__list{
	display: flex;
	justify-content: space-between;
	align-items: center;

	list-style: none;
}

.services__list-item{
	flex-basis: 30%;

	position: relative;
}

.services__list-item-view{
	max-width: 100%;
	height: auto;

	text-align:center;

	padding-top: 80px;
}

.services__list-item-img{
	position: relative;
}


.services__list-item-title{
	
	font-size: 24px;
	color: #222222;

	text-align: center;

	padding-top: 55px;
}

.services__list-item-description{
	font-size: 16px;
	color: #222222;

	text-align: center;

	padding-top: 40px;
}

.more__info{
	background-image: url(../images/3sec.png);
	background-size: cover;
	background-repeat: no-repeat; 
	width: 100%;
	height: 500px; 

	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}

.more__info__text{
	flex-basis: 50%;
}

.more__info__text-title{
	padding-top: 175px;

	font-size: 45.08px;
	color: #ffffff;
	text-transform: uppercase;

}

.more__info__text-discription{
	padding-top: 20px;

	font-size: 22px;
	color: #ffffff;
}

.more__info__text-link {
	padding-top: 75px;

	font-size: 18px;
	color: #ffffff;
	text-decoration: none;
}

.more__info__view{
	flex-basis: 30%;

	display: flex;
	justify-content: flex-end;
	align-items: flex-end;

	padding-top: 75px;
}

.more__info__view-img{
	right: 30%;

	position: relative;

	max-width: 100%;
	height: auto;
}

.our__work{
	height: 950px;

	background-color: #ffffff;
}

.our__work-title{
	padding-top: 160px;
	text-align: center;
	padding-bottom: 95px;

	font-size: 35px;
	text-transform: uppercase;

	color: #222222;
}

.our__work__list{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	text-decoration: none;
}

.our__work__list-item{
	flex-basis: 30.5%;

	position: relative;
}

.more__info__view-img{
	width: 100%;
	height: 420px;
}

.our__work__list-item: first-child{
	margin-left: 20px;
}

.our__work__list-item: last-child{
	margin-left: 20px;
}

.our__work-btn{
	display:inline-block;

	position: relative;

	margin-top: 80px;

	border: 3px solid #222222;
	padding: 18px 145px;

	font-size: 24px;
	color: #222222; 
}

.footer {
	background-image: url(../images/back_footer.png);
	background-size: cover;
	background-repeat: no-repeat; 
	width: 100%;
	height: 800px;
}

.footer-title{
	font-size: 35px;
	color: #ffffff;
	text-transform: uppercase;

	padding-top:120px;
	padding-bottom: 70px;

	text-align: center;
}

.footer__social{
	display: flex;
	justify-content: center;
	align-items: flex-end;
	

	list-style: none;
}

.footer__social-item{
	flex-basis: 4.16%;

	position: relative;

	padding-bottom: 80px;
}

.footer__forms {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.footer__forms-name, .footer__forms-email,.footer__forms-message {
	background: none;
	
	border: none;
	border-bottom: 2px solid #afafaf;
	
	font-size: 18px;
	color: #676767;
	font-style: italic;
	padding-left: 25px;
	padding-bottom: 15px;
}

.footer__forms-name{
	margin-right: 60px;
	width: 300px;
	margin-bottom: 110px;
}

 .footer__forms-email{
 	width: 300px;
 }

.footer__forms-message{
	width: 668px;
}

.footer-btn {
		margin-top: 50px;

	border: 3px solid #ffffff;
	padding: 18px 58px;

	font-size: 24px;
	color: #ffffff;
	text-transform: uppercase; 
}